<ul class="navbar-nav">
  <%= render_nav_actions do |config, action|%>
    <li class="nav-item"><%= action %></li>
  <% end %>
  <% if has_user_authentication_provider? %>
    <% if current_user %>
    <% unless current_user.to_s.blank? -%>
     <button type="button" class="btn btn-light" style="margin-left: 20px;">
      <%= link_to current_user, edit_user_registration_path, {:style=>'color:#000; text-decoration:none'} %>
    </button>
   
    <% end %>
    <% else %>
    <li class="nav-item">
      <%= link_to t('blacklight.header_links.login'), new_user_session_path, class: 'nav-link' %>
    </li>
    <% end %>
  <% end %>
</ul>