<div class="jumbotron text-center" style="margin-top: 10px;" >  

 
  
  <h2><i>Welcome To Ernie's Michigan Historical Archives!</i></h2>
  <p>Ernies Michigan Historical Archives - A searchable database of Michigan's letters from the past... Bringing history to life</p>
  
  <p>
    <%#= link_to 'Process Documentation', '', class: 'btn btn-primary' %>
  </p>
  <div class="navbar-search navbar navbar-light bg-faded" role="navigation">
  <div class="<%= container_classes %>" style="margin-top: 30px;">
     <p align="center"><%= render_search_bar  %></p>
  </div>
</div>
</div>

<div>

 <div class="">
  <p>Ernie's Michigan is a site that looks at Michigan history through numerous angles. By examining postmarks, and what letters were able to go where -- and for how much -- we get a fuller view of how Michigan was transformed from a territory of small towns, with sometimes very distinct people, into the state it is now. We also see how both wars and political entanglements literally shaped our state.</p>

<p>My site, erniesmichigan.com, should never be considered a finished work, because new information is being found on these topics all the time. Our site shows what we have learned so far about the many subjects involved. We hope that if a visitor to our site has more information or details regarding the pictures or subjects contained here that they would share that information with us. We aspire to improve the details and depth of knowledge that we all share about the subjects involved.</p>

<p>I hope that the information in erniesmichigan.com will be helpful to stamp and cover (letter) collectors, researchers, and people interested in early Michigan postal history, religious history, Michigan history, the genealogy of Michigan, and Michigan black history.</p>

<p>Ernie's Michigan is also a source of information for people in Michigan, and their families, to take another glimpse into their family members' lives -- seeing that they were an early member of a small church, who also attended, who they may have known. This is one example of how the information on this site can give a little more insight into what things were a part of a relative's life.</p>

<p>A cover is a stamp collecting term for the front of a letter with the postal information on it. This includes the cancellation which gives the city, state, date and sometimes the time the letter passed through the hands of the postmaster or postal clerk; the amount it cost the sender, or, in earlier times, the amount paid by the recipient in order to get the letter; and any other auxiliary markings.</p>

<p>Reading other people's mail is always fascinating. Letters reflect a historical time and place, and bring history to life. In the letters available on erniesmichigan.com you can learn about the lives of both public figures and everyday people as they conducted business, exchanged family news, sent word of the joy of births and the sadness of deaths.</p>

<p>Few people have the honor of being allowed to see and photograph, to hold in their own hands, these original letters. I would like to thank the Bentley Historical Library at the University of Michigan for allowing access to their collection.</p>
 </div> 

